body {
  font-family: "Calibre", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  background-color: #F9F9F9;
}

a {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #636363;
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border-style: none
}

#navbar {
  /* overflow-y: hidden; */
  height: 48px;
  background-color: transparent;
}

.navbar-martlet {
  display: inline-block;
  padding: 10px;
  margin-left: 12px;
  margin-right: 24px;
}

.navbar-martlet:focus,.navbar-martlet:hover {
  text-decoration: none
}

.navbar-nav {
  display: flex;
  display: inline;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav.social {
  position: relative;
  float: right;
  display: flex;
  display: inline;
  padding: 17px;

}

.nav-item {
  margin-right: 28px;
}

.nav-link {
  margin-right: 20px;
}

.nav-link:focus,.nav-link:hover {
    text-decoration: none
}

.martlet {
  position: relative;
}
