$landing-color-primary: $color-hack-red;
$landing-color-border: $color-hack-black-5;
$landing-color-dark-bg: $color-hack-black-5;

#index {
  .navbar {
    z-index: 2;
    height: 7rem;
    background-color: transparent;
    border-bottom: 2px solid $landing-color-border;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .navbar__brand {
    display: inline-block;
    padding: 1.4rem 0 1.4rem 1.4rem;
    margin-left: 1.2rem;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  .navbar__brand-image {
    height: 5rem;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }

  .navbar__nav-items {
    float: right;
    list-style: none;
    padding: 2.1rem;
    padding-left: 0;
  }

  .navbar__nav-item {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    margin-right: 2rem;
    text-decoration: none;
  }

  .navbar__link {
    color: $color-hack-black-60;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  .hero {
    min-height: 100vh;
    position: relative;

    @include page-width;
  }

  .hero__copy {
    padding-top: 16rem;
  }

  .hero__heading {
    font-size: 3.6rem;
    text-align: center;
    margin: auto;
    padding-bottom: 2rem;

    @include media-query($sm-up) {
      text-align: left;
      margin: inherit;
      font-size: 4.8rem;
      width: 48rem;
    }
  }

  .hero__subheading {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 1rem;

    @include media-query($sm-up) {
      font-size: 1.8rem;
      text-align: left;
    }
  }

  .hero__email {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;

    @include media-query($sm-up) {
      font-size: 1.4rem;
      text-align: left;
    }
  }

  .hero__clouds {
    position: absolute;
    top: 10%;
    right: 0;
    width: 80rem;
    z-index: -1;
  }

  .hero__buildings {
    position: absolute;
    left: 10%;
    bottom: 5%;
    width: 80%;
    z-index: -1;

    @media screen and (max-height: 36rem) {
      display: none;
    }
  }

  .hero__bus {
    position: absolute;
    left: 120%;
    bottom: 4%;
    width: 10%;

    @media screen and (max-height: 36rem) {
      display: none;
    }
  }

  .hero__plane-path {
    position: absolute;
    top: -30%;
    left: 50%;
  }

  #motion-path {
    position: relative;
  }

  .hero__plane {
    position: absolute;
    top: -30%;
    left: 50%;
    width: 5rem;
    height: 5rem;
  }

  .intro {
    background-color: $landing-color-dark-bg;
    position: relative;
    padding: 16rem 0 10vw;

    &::before {
      display: block;
      position: absolute;
      top: -350px;
      content: " ";
      width: 100%;
      height: 400px;
      background-image: url("/static/hero-skyline.svg");
      background-size: 1440px;
      z-index: -2;
    }

    &::after {
      display: block;
      position: absolute;
      content: " ";
      bottom: -30vw;
      width: 100%;
      height: 50vw;
      background-image: url("/static/info-plateau.svg");
      background-size: contain;
      z-index: 2;
    }
  }

  .intro__content {
    @include page-width;
    @include media-query($md-up) {
      display: flex;
    }
  }

  .intro__heading {
    font-size: 2.8rem;
  }

  .intro__image {
    max-width: 100%;
    height: auto;
  }

  .sponsor {
    margin-top: calc(30vw + 12rem);
    margin-bottom: 16rem;
  }

  .sponsor__heading {
    font-size: 2.8rem;
  }

  .sponsor-list {
    margin-bottom: 16rem;
  }

  .sponsor-list__heading {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 6rem;
  }

  .sponsor-list__tier {
    margin-bottom: 3rem;
  }

  .sponsor-list__logo-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
  }

  .sponsor-list__logo-wrapper--giga {
    height: 150px;
    width: 400px;
  }

  .sponsor-list__logo-wrapper--mega {
    height: 150px;
    width: 200px;
  }

  .sponsor-list__logo-wrapper--kilo {
    height: 50px;
    width: 200px;
  }

  .sponsor-list__logo-wrapper--byte {
    height: 35px;
    width: 200px;
  }

  .sponsor-list__logo {
    max-width: 100%;
    max-height: 100%;
  }

  .sponsor-list__tier {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .sponsor-list__sponsor {
    flex: 1 0 33%;
    object-fit: contain;
    max-height: 10rem;
    margin-bottom: 5rem;
  }

  .footer {
    padding: 2rem 2rem;
    border-top: 2px solid $landing-color-primary;
    // display: flex;
    align-items: center;
  }

  .footer__links {
    margin: 0;
    padding: 0;

    li {
      margin-left: 1rem;
      display: inline;
    }
  }

  .footer__links-socials {
    float: right;
    list-style: none;
    padding-right: 0;
    padding-left: 1rem;
  }

  .footer__links-social {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    margin-right: 2rem;
    text-decoration: none;
  }

  .footer__link {
    color: $color-hack-black-60;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}
