@import "variables.scss";
@import "mixins.scss";
@import "normalize.css";
@import "skeleton.css";
@import "skeleton-custom.scss";
@import "conduct.scss";
@import "privacy.scss";
@import "index.scss";
@import "mailchimp.scss";
@import "sponsor.scss";
@import "404.scss";
@import "nav.scss";
@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri");

$hamburger-layer-color: $color-hack-red !default;
@import "/hamburgers/hamburgers.scss";

@font-face {
  font-family: Brown;
  src: url("../static/fonts/lineto-brown-regular.ttf");
  font-weight: regular;
}

@font-face {
  font-family: Brown;
  src: url("../static/fonts/lineto-brown-bold.ttf");
  font-weight: bold;
}

em {
  color: $global-color-primary;
  font-style: normal;
}

html {
  overflow: hidden;
}

body {
  font-family:
    "Hind Siliguri",
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    sans-serif;
  color: #636363;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Brown, sans-serif;
  color: $color-hack-red;
}

a {
  text-decoration: none;
  color: $color-hack-black-40;

  &:hover {
    color: $color-hack-red;
  }
}

.button {
  font-family: Brown, sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: none;
  background-color: $color-hack-red;
  color: white;
  border-radius: 0.5em;
  border: none;
  transition: all 0.15s ease-in-out;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 48px;

  &:hover {
    background-color: $color-hack-red-med;
    color: white;
  }
}
