
@import 'variables.scss';
@import 'mixins.scss';

@import 'normalize.css';
@import 'skeleton.css';
@import 'skeleton--custom.scss';

@import 'index.scss';
@import 'mailchimp.scss';
@import 'sponsor.scss';

@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
@font-face {
  font-family: Brown;
  src: url('../static/fonts/lineto-brown-regular.ttf');
  font-weight: regular;
}
@font-face {
  font-family: Brown;
  src: url('../static/fonts/lineto-brown-bold.ttf');
  font-weight: bold;
}

body {
  font-family: 'Hind Siliguri', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  color: #636363;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Brown, sans-serif;
  color: $color-hack-red;
}

a {
  text-decoration: none;
  color: $color-hack-black-40;
  
  &:hover {
    color: $color-hack-red;
  }
}

.button {
  background-color: $color-hack-red;
  color: white;
  border-radius: 2em;
  border: none;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: $color-hack-red-med;
  }
}
