
@import 'variables.scss';
@import 'mixins.scss';

@import 'normalize.css';
@import 'skeleton.css';
@import 'skeleton--custom.scss';

@import 'landing.scss';
@import 'mailchimp.scss';
@import 'sponsor.scss';

@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
@font-face {
  font-family: Brown;
  src: url('../static/fonts/lineto-brown-regular.ttf');
  font-weight: regular;
}
@font-face {
  font-family: Brown;
  src: url('../static/fonts/lineto-brown-bold.ttf');
  font-weight: bold;
}

body {
  font-family: 'Hind Siliguri', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  background-color: #F9F9F9;
  color: #636363;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Brown, sans-serif;
}

a {
  color: #999999;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: #636363;
  }
}
