.button {
  &.button-primary {
    background-color: $global-color-primary;
    transition: 0.10s ease-in-out all;
    font-size: 20px;
    height: 65px;
    line-height: 65px;
    font-family: Brown;  

    &:hover {
      background-color: $color-hack-red-med;
    }
  }
}